header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo img {
    width: 150px;
  }

  nav ul {
    display: flex;

    .nav-link {
      font-size: 1.2rem;
      font-family: poppins-semibold;
      padding: 0 10px;
    }
  }
}
