footer {
  display: flex;
  justify-content: space-between;
  ul {
    li {
      font-family: poppins-semibold;
      padding: 0 10px;

      a{
        font-size: 1.2rem;
      }
    }

    li:first-child {
      padding: 0;
    }
  }

  .links ul {
    display: flex;
  }
  .socials ul {
    display: flex;

    li a{
      font-size: 20px;
    }
  }
}
